<ul class="nav-meta">
  <li class="nav-search" style="display: none;">
    <a title="{{t "Search"}}">
      <i class="icon icon-search" aria-hidden="true"></i>
      <span>{{t "Search"}}</span>
    </a>
  </li>
  <li class="nav-theme">
    <a class="js-theme" href="#" data-system="System theme" data-dark="Dark theme" data-light="Light theme">
      <span class="theme-icon"></span>
      <span class="theme-text">System theme</span> 
    </a>
  </li>
  <!--
  {{#unless @member}}
    <li class="nav-subscribe">
      <a href="#/portal">Subscribe</a>
    </li>
  {{else}}
    <li class="nav-account">
      <a href="#/portal/account">Account</a>
    </li>
  {{/unless}}
  -->
</ul>
